<h3>Register Here</h3>
{% if messages %}
    {% for message in messages %}
    <p style="color: red"> {{ message }} </p>
    {% endfor %}
{% endif %}
<form action='/register' method='post'>
    {% csrf_token %}
    <p>Name:</p>
    <input type='text' name='first_name'>
    <p>Alias:</p>
    <input type='text' name='last_name'>
    <p>Email:</p>
    <input type='email' name='email'>
    <p>Password:</p>
    <input type='password' name='password'>
    <p>*Password should be at least 8 characters</p>
    <p>Confirm PW:</p>
    <input type='password' name='c_password'>
    <br>
    Date of birth:<br>
    <input type='date' name='birthday' placeholder=''><br>
    <br>
    <input type='submit' value='Register'><br>

</form>

<h3>Login Here</h3>
<form action='/login' method='post'>
    {% csrf_token %}
    Email:
    <input type='email' name='email' placeholder='Enter email'><br>
    Password:
    <input type='password' name='password' placeholder='Enter password'><br>
    <input type='submit' value='Log In'><br>
</form>